* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
}
/* Navbar Section */

.navbar {
  background-color: #f0f1f3;
  border-radius: 10px;
  color: #eaebec;
  padding-bottom: 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style: none;
  text-decoration-line: none;
}

nav ul li {
  display: flex;
  justify-content: space-around;
  text-decoration-line: none;
}

section {
  padding-top: 2rem;
}

.navbar-brand {
  color: black;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.9rem;
  font-weight: 700;
  display: flex;
  padding-left: 5rem;
  padding-top: 1.8rem;
  text-decoration: none;
}

span {
  color: aquamarine;
}

.nav-active {
  font-family: "Poppins", sans-serif;
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 500;
  font-size: 15px;
  margin-top: -2rem;
  text-indent: 25px;
  text-decoration: none;
  padding-right: 10rem;
}

.nav-active li {
  padding-left: -10rem;
}

/* ICONS */
.icons {
  padding-left: 7rem;
  list-style: none;
}
/* ICONS END!! */

/* Hyperlink */
a:active {
  color: black;
}

a:visited {
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}
/* Hyperlink END!! */

/* Sign Up Button */
.login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -2.5rem;
  padding-right: 7rem;
  text-decoration: none;
}

.button {
  display: inline-block;
  color: rgb(206, 204, 204);
  font-weight: 400;
  background-color: rgb(206, 204, 204);
  border-color: rgb(206, 204, 204);
  font-family: "Poppins", sans-serif;
  border: 50px;
  font-size: 17px;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
  border: solid;
  border-width: 7px;
  cursor: pointer;
}

.text-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 7.5rem;
  margin-top: -2rem;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
/* ENDS!! */

/* Navbar Ends */

/* Hero-Section */
.head {
  font-family: "Poppins", sans-serif;
  margin-top: 13rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2.9rem;
  margin-right: -1rem;
}

.the-text {
  padding-top: 0.4rem;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  text-align: center;
  font-size: 1.1rem;
  margin-right: -1rem;
}

.hero-button {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  margin-top: 3rem;
  margin-right: 0.8rem;
  font-weight: 500;
  border: 10px;
  border-radius: 4px;
  font-size: 18px;
  display: flexbox;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  border-width: 10px;
  background-color: rgb(206, 204, 204);
}

/* Hero-section END!! */

/* About US */
.header {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: start;
  padding-left: 15.5rem;
  color: rgb(86, 86, 86);
  padding-top: 10rem;
  font-size: 3rem;
}

.about {
  background-color: #dedede;
  padding-top: 2rem;
  margin-top: -1rem;
}

.text-about {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding-right: 43rem;
  margin-top: -4rem;
  white-space: pre-wrap;
}

.design-about {
  display: flex;
  justify-content: end;
  height: 20rem;
  margin-top: -17rem;
  margin-right: 8rem;
}

.learn-more {
  margin-left: 19.5rem;
  padding-bottom: 10rem;
  white-space: nowrap;
}

.about-button {
}

/* END */

/* form */
.main-form {
  background-color: white;
  margin-top: -8.5rem;
  padding-top: 15rem;
}

/* form end */

/* Responsive */
@media screen and (max-witdh: 768px) {
  nav ul {
    display: none;
  }
}
